<%- include('./header.ejs')  %>

 <!-- Button trigger modal -->


    <!--Slider div start-->
    <div class="mt-5" style="height: 450px;width: 100%;position: relative;top:25px">
        <div class="carousel slide " data-bs-ride="carousel" id="b">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2020-11-01ss3.jpg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2020-11-01ss17.jpg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2023-06-19WhatsApp%20Image%202023-06-18%20at%2010.54.25%20(1).jpeg"
                        style="height: 450px;width: 100%;" alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2023-01-02c7.jpeg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
           
            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#b" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#b" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <!--slider div end-->

        <!-- Third Section -->
        <div class="container-fluid ">
            <div class="container">
                <h1 class="text-center mt-5"><b style="color: orange;">ABOUT </b>RJIT, TEKANPUR</h1>
                <div class="row">
                    <div class="col-md-7 ">
                        <p class="para mt-3">Rustamji Institute of Technology is the first engineering college in India established by a Para Military Force. Due to bulk deployment of BSF personnel in far flung border area, militancy and Naxal affected areas, the majority of the force personnel stay separated from their families and are unable to look after the proper education of their wards. RJIT established with the objective of giving an opportunity to the children of BSF/CAPFs personnel as well as civilians to acquire quality technical education. This institute was inaugurated on 2nd October 1999 by Padma Vibhushan Shri K F Rustamji himself.

                            The founding father of BSF as its first Director General , Late Shri KF Rustamji always had the larger interest of the troops deep in his heart. He always felt that the BSF personnel deployed in remote areas and those who laid down their lives in honor of the country, their wards should be cared for proper education facilities.
                            
                            Sh E N Ram Mohan, the then DG ,BSF assigned the task to Dr GP Bhatnagar, the then IG/Director BSF Academy and Sh Mahabir Prasad, DC the then Commandant CSMT to work on dreams of Shri Rustamji by establishing first ever engineering institute by a Para Military force in India with limited available resources.
                            
                            Initially the Institute was established temporarily at CSMT and later on shifted to its allocated land near by CSMT.                    </div>
                    <div class="col-md-5">
                        <img src="https://career.webindia123.com/career/institutes/aspupload/Uploads/madhya-pradesh/26974/logo.jpg" alt="" class="w-100 shadow-lg mt-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 animate__animated animate__slideInDown card1">
                        <div class="card mt-3 bg-success shadow-lg">
                            <img src="image/2.png" alt="">
                            <p style="color:brown;font-size: 20px;font-family: cursive;" class="text-center">Student can
                                Log In To <br>CAAMS PORTAL..</p>
                            <button class="btn btn-info text-white"><a href="https://www.rjiterp.org/rjit/index.php" class="te">Log In</a></button>
                        </div>
                    </div>
                    <div class="col-md-4 card1">
                        <div class="card mt-3 bg-success ">
                            <img src="image/p.png" alt="">
                            <p style="color:greenyellow;font-size: 20px;font-family: cursive;" class="text-center">Dean/Principal of RJIT Log In to  CAAMS portal</p>
                            <button class="btn btn-info text-white"><a href="https://www.rjiterp.org/rjit/index.php" class="te">Log In</a></button>
                        </div>
                    </div>
                    
                    <div class="col-md-4 card1">
                        
                        <div class="card mt-3 bg-success shadow-lg ">
                            <img src="image/a.jpg" alt="">
                            <p style="color:rgb(243, 238, 235);font-size: 20px;padding: auto;font-family: cursive;"
                                class="text-center">Only Admin Can Access on This CAAMS Portal Button.... </p>
                            <button class="btn btn-info text-white"><a href="https://www.rjiterp.org/rjit/index.php" class="te">Log In</a></button>
                        </div>
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                   <p class="par">The Rustamji Institute of Technology (RJIT) is the first engineering college in India established by a Para Military Force. Due to deployment of the bulk of the Border Security Force (BSF) personnel in militancy affected areas, the majority of the force personnel stay separated from their families and are unable to look after the education of their children. A number of personnel are laying down their lives in the fight against anti-national elements every day. The Anti Ragging Committee is hereby detailed in RJIT: Anti Ragging Committee. Dr. Raghunath Holambe, Principal. Dr. Chetan Pathak, Assistant Professor.</p>
                    </div>
                    <div class="col-md-3 ">
                   <img src="https://rjit.ac.in/images/main/infra/building1.jpg" alt="" class="w-100">
                    </div>
                    <div class="col-md-3 mt-5">
                        <img src="https://rjit.ac.in/images/main/infra/building2.jpg" alt="" class="w-100">
                         </div>
                       
                </div>
            </div>
        </div>

        <!-- fourth image section -->
        <div class="container-fluid mt-5">
            <img src="https://rjit.ac.in/images/tp/tp16.jpeg" alt="" class="w-100">
        </div>


<%- include('./footer.ejs')  %>