<%- include('./header.ejs') %>

    <!-- Button trigger modal -->


    <!--Slider div start-->
    <div class="mt-5" style="height: 450px;width: 100%;position: relative;top:25px">
        <div class="carousel slide " data-bs-ride="carousel" id="b">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2020-11-01ss3.jpg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="/image/ncc.jpg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://cocsit.org.in/tpc/assets/img/event/commendation_17_18/comm10.jpg"
                        style="height: 450px;width: 100%;" alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2023-01-02c7.jpeg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#b" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#b" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <!--slider div end-->

        <!-- Third Section -->
        <div class="container-fluid ">
            <div class="container">
                <h1 class="text-center mt-5"><b style="color: orange;">RJIT </b>Grievance System Benifit..</h1>
                <div class="row">
                    <div class="col-md-7 ">
                        <p class="para mt-3">Greetings from Rustamji Instittute of Technology. It is indeed with great
                            pleasure; we cordially invite your esteemed organization to participate in our campus
                            placement programme for the students. RJIT, the only Engineering college established by BSF,
                            the largest Paramilitary force of India is amongst the well known and diversified
                            engineering institutes of the country. The alumni of this Institute occupy top positions in
                            industries and R&D in India and abroad. Over and above a rigorous academic schedule, we
                            place a great emphasis on all-round development of our students.

                            Our products are a combination of rigorous thinking and hardwork. The beautiful campus, far
                            away from the city, well equipped with latest technology, provides an excellent environment
                            for learning. With good moral, a hardworking RJITian believes in human relations skills and
                            is aware of technical developments, who can play a key role in organizations like yours
                            willing to be internationally competitive. At RJIT, you would find candidates meeting
                            requirements of your organization. The Training & Placement cell is the nodal point of
                            contact for companies to interact. The Office is well equipped and is designed to smoothly
                            handle and support the placement process at all stages. Infrastructure for pre-placement
                            talks, written tests, group discussions and personal interviews is available. The following
                            are the facilities to aid the process:</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/image/rjit.png" alt="" class="w-100 mt-5">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <p class="par">The Rustamji Institute of Technology (RJIT) is the first engineering college in
                            India established by a Para Military Force. Due to deployment of the bulk of the Border
                            Security Force (BSF) personnel in militancy affected areas, the majority of the force
                            personnel stay separated from their families and are unable to look after the education of
                            their children. A number of personnel are laying down their lives in the fight against
                            anti-national elements every day. The Anti Ragging Committee is hereby detailed in RJIT:
                            Anti Ragging Committee. Dr. Raghunath Holambe, Principal. Dr. Chetan Pathak, Assistant
                            Professor.</p>
                    </div>
                    <div class="col-md-3 ">
                        <img src="image/bs.png" alt="" class="w-100">
                    </div>
                    <div class="col-md-3 mt-5">
                        <img src="/image/li.jpeg" alt="" class="w-100">
                    </div>

                </div>
            </div>
        </div>

        <!-- fourth image section -->
        <div class="container-fluid mt-5">
            <img src="/image/ncc.jpg" alt="" class="w-100">
        </div>

        <%- include('./footer.ejs') %>