<%- include('./header.ejs')  %>

 <!-- Button trigger modal -->


    <!--Slider div start-->
    <div class="mt-5" style="height: 450px;width: 100%;position: relative;top:25px">
        <div class="carousel slide " data-bs-ride="carousel" id="b">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#b" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2020-11-01ss3.jpg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2020-11-01ss17.jpg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2023-06-19WhatsApp%20Image%202023-06-18%20at%2010.54.25%20(1).jpeg"
                        style="height: 450px;width: 100%;" alt="..">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="https://rjit.ac.in/images/ss/2023-01-02c7.jpeg" style="height: 450px;width: 100%;"
                        alt="..">
                </div>
           
            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#b" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#b" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <!--slider div end-->

        <!-- Third Section -->
        <div class="container-fluid ">
            <div class="container">
                <h1 class="text-center mt-5"><b style="color: orange;">RJIT </b>Features  </h1>
                <div class="row">
                    <div class="col-md-7 ">
                        <p class="para mt-3">The Grievance Redressal Cell has been developed to settle the grievances of
                            the students and other stakeholders within a reasonable time period for further
                            strengthening the bond of the students with the institution by providing them with all kind
                            of facilities to a satisfaction level for maintaining a convenient ambience of academic
                            teaching and learning.
                            Oréll believes that providing on time and competent service is essential not only to attract
                            new customers, but also to retain existing ones. ITMGrievance, the revolutionary online
                            grievance handling mechanism aims at minimising instances of complaints in professional


                            colleges through effective tracking and monitoring of grievances ensuring prompt redressal.
                            This portal for online registration and disposal of grievances help users obtain immediate
                            response and resolution to their grievances from the institution itself</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/image/gr.png " alt="" class="w-100 shadow-lg mt-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 animate__animated animate__slideInDown card1">
                        <div class="card mt-3 bg-success shadow-lg">
                            <img src="/image/2.png" alt="">
                            <p style="color:brown;font-size: 20px;font-family: cursive;" class="text-center">Student can
                                manage or view Their <br>Grievance Here..</p>
                                <button class="btn btn-info text-white" data-bs-toggle="modal"
                                data-bs-target="#studentmodal">login</button>
                        </div>
                    </div>
                    <div class="col-md-4 card1">
                        <div class="card mt-3 bg-success ">
                            <img src="/image/p.png" alt="">
                            <p style="color:greenyellow;font-size: 20px;font-family: cursive;" class="text-center">This
                                Section is Managed By the Dean/Principal of RJIT Principal</p>
                                <button class="btn btn-info text-white" data-bs-toggle="modal"
                                data-bs-target="#deanmodal">login</button>
                        </div>
                    </div>
                    
                    <div class="col-md-4 card1">
                        
                        <div class="card mt-3 bg-success shadow-lg ">
                            <img src="/image/a.jpg" alt="">
                            <p style="color:rgb(243, 238, 235);font-size: 20px;padding: auto;font-family: cursive;"
                                class="text-center">This Section is managed and view by the Grievance handler. </p>
                                <button class="btn btn-info text-white" data-bs-toggle="modal"
                                data-bs-target="#adminmodal">login</button>
                        </div>
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                   <p class="par">The Rustamji Institute of Technology (RJIT) is the first engineering college in India established by a Para Military Force. Due to deployment of the bulk of the Border Security Force (BSF) personnel in militancy affected areas, the majority of the force personnel stay separated from their families and are unable to look after the education of their children. A number of personnel are laying down their lives in the fight against anti-national elements every day. The Anti Ragging Committee is hereby detailed in RJIT: Anti Ragging Committee. Dr. Raghunath Holambe, Principal. Dr. Chetan Pathak, Assistant Professor.</p>
                    </div>
                    <div class="col-md-3 ">
                   <img src="/image/bs.png" alt="" class="w-100">
                    </div>
                    <div class="col-md-3 mt-5">
                        <img src="/image/li.jpeg" alt="" class="w-100">
                         </div>
                       
                </div>
            </div>
        </div>

        <!-- fourth image section -->
        <div class="container-fluid mt-5">
            <img src="image/1.jpg" alt="" class="w-100">
        </div>

           <!-- modal default starts -->
           <div class="modal fade" id="studentmodal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">student Login</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

    

                </div>
                <div class="modal-body">

                   
                  <form action="/verifylogin" method="post">
                    
                      
                      <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" required>
                        </div>
                      
                        <div class="form-group">
                          <label for="">Password</label>
                          <input type="password" class="form-control" name="password" required>
                          </div>
                          
                            <button class="btn btn-success mt-3" type="submit">Submit</button>
                                
                  </form>
                </div>
               
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

            <!-- modal default starts -->
        <div class="modal fade" id="deanmodal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Dean Login</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                </div>
                <div class="modal-body">
                  <form action="/adminverifylogin" method="post">
                    
                      
                      <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" required>
                        </div>
                      
                        <div class="form-group">
                          <label for="">Password</label>
                          <input type="password" class="form-control" name="password" required>
                          </div>
                          
                            <button class="btn btn-success mt-3" type="submit">Submit</button>
                                
                  </form>
                </div>
               
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

            <!-- modal default starts -->
        <div class="modal fade" id="adminmodal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Admin Login</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                </div>
                <div class="modal-body">
                  <form action="/adminverifylogin" method="post">
                    
                      
                      <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" required>
                        </div>
                      
                        <div class="form-group">
                          <label for="">Password</label>
                          <input type="password" class="form-control" name="password" required>
                          </div>
                          
                            <button class="btn btn-success mt-3" type="submit">Submit</button>
                                
                  </form>
                </div>
               
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->


<!-- modal default starts -->
<div class="modal fade" id="aa">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"> Login</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

    </div>
    <div class="modal-body">
      <form action="/verifylogin" method="post">
        
          
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" required>
            </div>
          
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control" name="password" required>
              </div>
              
                <button class="btn btn-success mt-3" type="submit">Submit</button>
                    
      </form>
    </div>
   
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<%- include('./footer.ejs')  %>