
<!-- footer start -->
<footer>
    <div class="container-fluid bg-success mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-5">
                    <h2>RJIT <b>Grievance Portal</b></h2><br><br>
                    <p class="la">#1 Online Grievance Redressal Mechanism designed in accordance with AICTE
                            directive aims at resolving the grievances of students, parents, staff and others
                            with optimal transparency and accuracy.</p>
                </div>
                <div class="col-md-4 mt-5 text-center">
                    <h3>Some Links</h3><br><br>
                    <li style="list-style: none;">
                        <ul>Home</ul>
                        <ul>About</ul>
                        <ul>Grievance</ul>
                        <ul>CAAMS</ul>
                        <ul>Rgpv</ul>

                    </li>
                </div>
                <div class="col-md-4 mt-5">
                    <br>
                    <h2>24/7 SUPPORT & HELP</h2><br>
                    <p>+91 8839336599,<b> Shivam Singh,Developer</b><br>
                        +91 9399385570(Support)</p><br>
                    <h2 class="mb-3">Connect with Us @ S&S Tech</h2>
                    
                    <!-- comment -->
                   
                </div>
                <hr>
            </div>
            <div class="row">
         <p class="footshivam" >Copyright @ 2023. RJITGravience Portal. All Rights Reserved
            Private Policy Terms & Condition
            Design By Shivam Singh</p>
            </div>
        </div>

    </div>
</footer>


            
 
</body>

</html>