<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RJIT_Grievance_portal</title>
    <!-- fevi con icon -->
    <link rel="icon" href="/image/rjit1.png" type="image/x-icon">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap Cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    

    <!-- font awesome css for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<body>




    <nav class="navbar navbar-expand-md navbar-dark  fixed-top navvi">
        <div class="container-fluid ">
            <a href="" class="navbar-brand">
                <img src="/image/rjit1.png" class="weblogo">
                <img src="/image/rjit1.png" class="medialogo">
            </a>
            <!--mobile view starts-->
            <button class="navbar-toggler" data-bs-target="#a" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--menu starts-->
            <div class="navbar-collapse collapse" id="a">
                <ul class="navbar-nav text-center ms-auto linkbar">
                    <li><a href="/" class="nav-link">HOME</a></li>
                    <li><a href="/about" class="nav-link">ABOUT</a></li>
                    <li><a href="/system" class="nav-link">GRIEVANCE <br>SYSTEM</a></li>
                    <li><a href="/benifit" class="nav-link">BENIFIT</a></li>
                    <li><a href="/feature" class="nav-link">FEATURE</a></li>
                    <li><a href="/contact" class="nav-link">CONTACT</a></li>
                    <li><a href="/help" class="nav-link">HELP</a></li>
                    <li>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aa">
                            Login
                        </button>
                    </li>
                </ul>
            </div>
        </div><!--container fluids end-->
    </nav>